<% include ../partials/header.ejs %>

	<div class="row justify-content-center">
		<div class="col-md-12 text-center">
			<h1>Add new comment to <%= campground.name %> as <%= currentUser.username %> </h1>
		</div>
		<div class="form-container">
			<form action="/campgrounds/<%= campground._id %>/comments" method="POST">
				<div class="form-group">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="comment[text]" placeholder="Text">
				</div>
				<div class="form-group">
					<button class="btn btn-primary btn-lg btn-block">Submit</button>
				</div>
			</form>
			<a href="/campgrounds">View Camp</a>	
		</div>
	</div>
</div>

<% include ../partials/footer.ejs %>
