<% include ../partials/header.ejs %>

<div class="container">
	<header class="jumbotron">
		<div class = container>
			<h1> Welcome to the BestTrip!</h1>
			<p>Check out our trips!</p>
			<p><a class="btn btn-primary btn-lg" href="/campgrounds/new">Add new Trip</a></p>
			<ul>
				<h2>Features of the site:</h2>
				<li>Responsiveness ready</li>
				<li>Register and Login</li>
				<li>Add/Edit/Delete (only your own) Trip</li>
				<li>Add/Edit/Delete your comments</li>
				<li>Google maps API (shows map of the location name)</li>
				<li>Shows the date when the content were added</li>
			</ul>
		</div>
	</header>
	
	
	<div class="row text-center" style="display:flex; flex-wrap:wrap;">
			<% campgrounds.forEach(function(campground){ %>
			<div class="col-md-6 col-sm-6">
				<div class="img-thumbnail">
					<img src="<%= campground.image %>" width="100%">
					<div class="caption"><%= campground.name %></div>
					<p>
						<a href="/campgrounds/<%= campground._id %>" class="ui violet big basic button">More info</a>
					</p>
				</div>
			</div>
		<% }); %>
	</div>	
	<a href="/campgrounds">Back to landing</a>

</div>

<% include ../partials/footer.ejs %>
